
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<h2>Welcome to Website</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-success">Getplayer Information</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-success">Check who is Online</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-success">Success</button>
        </div>
    </div>

    
